.project-image{
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url('../pages/imagesPages/projects.jpg');
	height: 400px;
	background-size: cover;
	background-position: 50% 40%;
}

.galery-grid {
	background-color: black;
}

.pro-img-1 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(../pages/imagesPages/bathroom.jpg);
	background-size: cover;
	transition: .3s;
	grid-area: pro1;
	cursor: pointer;
}

.pro-title {
	background-color: black;
	position: absolute;
	opacity: 0.8;
	color: white;
	padding: 10px;
	font-size: 30px;
	text-transform: uppercase;
	font-weight: 300;
}

.pro-img-1:hover {
	opacity: .9
}

.pro-img-2 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(../pages/imagesPages/bathroom.jpg);
	background-size: cover;
	transition: .3s;
	grid-area: pro2;
	cursor: pointer;
}

.pro-img-2:hover {
	opacity: .9
}

.pro-img-3 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(../pages/imagesPages/bathroom.jpg);
	background-size: cover;
	transition: .3s;
	grid-area: pro3;
	cursor: pointer;
}

.pro-img-3:hover {
	opacity: .9
}

.pro-img-4 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(../pages/imagesPages/bathroom.jpg);
	background-size: cover;
	transition: .3s;
	cursor: pointer;
}

.pro-img-4:hover {
	opacity: .9
}

.pro-img-5 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(../pages/imagesPages/pool.jpg);
	background-size: cover;
	transition: .3s;
	grid-area: pro5;
	cursor: pointer;
}

.pro-img-5:hover {
	opacity: .9
}

.pro-img-6 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(../pages/imagesPages/club.jpg);
	background-size: cover;
	transition: .3s;
	grid-area: pro6;
	cursor: pointer;
}

.pro-img-6:hover {
	opacity: .9
}

.pro-img-7 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(../pages/imagesPages/bathroom.jpg);
	background-size: cover;
	transition: .3s;
	cursor: pointer;
}

.pro-img-7:hover {
	opacity: .9
}

.galery-project-1 {
	display: inline-grid;
 	grid-template-areas:
 	 "pro1 pro1 pro1 pro2 pro2 pro2" 
 	 "pro3 pro3 pro3 pro3 pro4 pro4"
 	 "pro5 pro5 pro5 pro6 pro6 pro6";
	height: 100%;
	width: 100%;
}

.galery-project-2 {
	display: inline-grid;
	grid-template-rows: 50% 50%;
	grid-area: pro4;
	height: 100%;
	width: 100%;
}
