.solutions-image{
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url('../pages/imagesPages/solutions.jpg');
	height: 400px;
	background-size: cover;
	background-position: 50% 40%;
}

.galery-grid {
	margin: 50px 0 0;
	height: 300vh;
	background-color: black;
}

.galery-block {
	display: none;
}

.img-media {
	display: flex;
	justify-content: center;
	align-items: center;
	width:100vw;
	height:70vh;
	background-size: cover;
}

@media screen and (max-width: 640px) {
	.galery-grid {
		display: none
	}

	.galery-block {
		display: block;
	}
}



.sol-title {
	background-color: rgba(0, 0, 0, 0.8);
	position: absolute;
	color: white;
	padding: 10px;
	font-size: 30px;
	text-transform: uppercase;
	font-weight: 300;
}

.sol {
	display: flex;
	justify-content: center;
	align-items: center;
	background-size: cover;
	transition: .3s;
	cursor: pointer;
}

.sol:hover {
	opacity: .9
}

.img-1 {
	background-image: url(../pages/imagesPages/sol-img-1.jpg);
	grid-area: img1;
}

.img-2 {
	background-image: url(../pages/imagesPages/sol-img-6.jpg);
	grid-area: img2;
}

.img-3 {
	background-image: url(../pages/imagesPages/sol-img-3.jpg);
	grid-area: img3;
}

.img-4 {
	background-image: url(../pages/imagesPages/sol-img-4.jpg);
}

.img-5 {
	background-image: url(../pages/imagesPages/sol-img-5.jpg);
	grid-area: img5;
}

.img-6 {
	background-image: url(../pages/imagesPages/sol-img-2.jpg);
	grid-area: img6;
}

.img-7 {
	background-image: url(../pages/imagesPages/sol-img-7.jpg);
}

.galery-solutions-1 {
	display: inline-grid;
 	grid-template-areas:
 	 "img1 img1 img1 img2 img2 img2" 
 	 "img3 img3 img3 img3 img4 img4"
 	 "img5 img5 img5 img6 img6 img6";
	height: 100%;
	width: 100%;
}

.galery-solutions-2 {
	display: inline-grid;
	grid-template-rows: 50% 50%;
	grid-area: img4;
	height: 100%;
	width: 100%;
}